@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply max-w-[1365px]
    w-full
    px-1
    m-auto
    h-full
   
    relative;
}

* { scrollbar-width: none; } /* Firefox */
* { -ms-overflow-style: none; } /* IE and Edge */
*::-webkit-scrollbar, *::-webkit-scrollbar-button { display: none; } 



body {
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(
    0deg,
    rgba(41, 13, 19, 1) 0%,
    rgba(4, 8, 16, 1) 55%
  );
  @apply font-secFont
  text-white
  text-lg
  bg-triColor-900;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  @apply font-priFont leading-[100%];
}
p {
  @apply leading-6;
}

* > input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
* > textarea {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  resize: unset;
}

.text-glow {
  @apply drop-shadow-glow;
}

.nav_hover,
.nav-item:hover {
  @apply drop-shadow-glow
  text-priColor-800;
}

.cursor {
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(225deg, #c51d1d4f 33%, #ff21210f 84%);
  @apply fixed rounded-full bg-priColor-700  drop-shadow-glow aspect-square z-[999]  backdrop-blur-sm pointer-events-none cursor-pointer mix-blend-difference xl:block hidden;
}

.btn {
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(225deg, #c51d1d4f 33%, #ff21210f 84%);
  @apply px-3 my-1 py-2 inline-block w-[max-content] backdrop-blur-sm rounded-md;

  &:before,
  &:after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: inherit;
  }

  &:before {
    border: 1px solid #ff2121;
    -webkit-mask-image: linear-gradient(195deg, white 0%, transparent 60%);
  }

  &:after {
    // background: linear-gradient(
    //   var(--deg),
    //   rgb(255 255 255 /0.03) 0%,
    //   transparent 35%,
    //   transparent 65%,
    //   rgb(255 255 255 /0.03) 100%
    // );
  }
}

.tag-btn {
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(225deg, #00224d 0%, #040810 100%);
  @apply px-3 my-1 py-2 inline-block w-[max-content] backdrop-blur-sm rounded-md;

  &:before,
  &:after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: inherit;
  }

  &:before {
    border: 1px solid #0574ff;
    -webkit-mask-image: linear-gradient(195deg, white 0%, transparent 60%);
  }

  &:after {
    // background: linear-gradient(
    //   var(--deg),
    //   rgb(255 255 255 /0.03) 0%,
    //   transparent 35%,
    //   transparent 65%,
    //   rgb(255 255 255 /0.03) 100%
    // );
  }
}

#about_con {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  .about_section {
    scroll-snap-align: start;
  }
}

.tech-card {
  // background-size: 100% 100%;
  // background-position: 0px 0px;
  // background-image: linear-gradient(225deg, #c51d1d4f 33%, #ff21210f 84%);
  @apply backdrop-blur-sm rounded-md;
}
#project_con{

}

.project_box {
}

.project_card {
  @apply flex lg:items-center justify-center max-w-full w-[120vw];
  .project_cont {
    @apply flex flex-wrap px-5 py-6 flex-col gap-x-4 gap-y-4 w-screen items-center xl:flex-row;
    figure {
      @apply w-1/2 self-center xl:w-2/5;
    }

    .project_info {
      @apply mb-8 w-11/12 xl:w-1/2;
    }
  }
  .stack-used {
    @apply flex gap-2 items-center;
  }
  .project-btn {
    @apply flex gap-3 items-center justify-center xl:justify-start;
  }
}

.grad-box {
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(225deg, #c51d1d4f 33%, #ff21210f 84%);
  @apply backdrop-blur-sm rounded-md;
}

.contact-form {
  .input {
    input {
      @apply bg-[transparent] border-2 border-t-0 border-l-0 border-r-0 border-priColor-800;
    }
    textarea {
      @apply bg-[transparent] border-2 border-t-0 border-l-0 border-r-0 border-priColor-800;
    }
  }
}

.grad-con {
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(225deg, #c51d1d4f 33%, #ff21210f 84%);
  @apply px-3 my-1 py-2 inline-block w-[max-content] backdrop-blur-sm rounded-md;

  &:before,
  &:after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: inherit;
  }

  &:before {
    border: 1px solid #ff2121;
    -webkit-mask-image: linear-gradient(195deg, white 0%, transparent 60%);
  }

  &:after {
    // background: linear-gradient(
    //   var(--deg),
    //   rgb(255 255 255 /0.03) 0%,
    //   transparent 35%,
    //   transparent 65%,
    //   rgb(255 255 255 /0.03) 100%
    // );
  }
}
